<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Client Name</label>
        <input type="text" class="form-control" formControlName="client_name" #client_name />
      </div>
      <div *ngIf="angForm.controls['client_name'].invalid && (angForm.controls['client_name'].dirty || angForm.controls['client_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['client_name'].errors.required">
          Client Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Father Name </label>
        <input type="text" class="form-control" formControlName="father_name" #father_name />
      </div>
      <div *ngIf="angForm.controls['father_name'].invalid && (angForm.controls['father_name'].dirty || angForm.controls['father_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['father_name'].errors.required">
          Father Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Address</label>
        <input type="text" class="form-control" formControlName="address" #address />
      </div>
      <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['address'].errors.required">
          Address is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email Id</label>
        <input type="text" class="form-control" formControlName="email" #email />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email Id is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Mobile No </label>
        <input type="text" class="form-control" formControlName="mobile_no" #mobile_no />
      </div>
      <div *ngIf="angForm.controls['mobile_no'].invalid && (angForm.controls['mobile_no'].dirty || angForm.controls['mobile_no'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['mobile_no'].errors.required">
          Mobile Number is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addBusiness(client_name.value, father_name.value , address.value, email.value, mobile_no.value)"
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary">
            Add Details
         </button>
      </div>
    </form>
  </div>
</div>

